@font-face {
	font-family: 'CASTELAR';
	src: url('fonts/CASTELAR.eot');
	src: local('CASTELAR'), url('fonts/CASTELAR.woff') format('woff'), url('fonts/CASTELAR.ttf') format('truetype');
}

@font-face {
	font-family: 'Century Gothic';
	src: local('Century Gothic'), url('fonts/CenturyGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'GOST type A';
	src: local('GOST type A'), url('fonts/GOSTtypeA.ttf') format('truetype');
}

@font-face {
	font-family: 'Bradley Hand ITC';
	src: local('Bradley Hand ITC'), url('fonts/BRADHITC.ttf') format('truetype');
}

@font-face {
	font-family: 'Verdana';
	src: local('Verdana'), url('fonts/verdana.ttf') format('truetype');
}

#main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

p {
    font-family: Calibri;
    font-size: 13.5pt;
    line-height: 1.37;
    text-align: justify;
}

li {
    font-family: Calibri;
    font-size: 13.5pt;
    line-height: 1.37;
    text-align: justify;
}

.bim-title-box {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.bim-title {
    font-family: "Century Gothic", verdana, helvetica, sans-serif;
    font-weight: normal;

    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25pt;
}

.bim-page-title {
    font-family: "Century Gothic", verdana, helvetica, sans-serif;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-left-width: thick;
    border-bottom-width: thick;
    border-right-width: thick;
    border-top-width: thin;
    font-size: 20pt;
    text-align: center;
}

.bim-page-sub-title {
    font-family: "CASTELAR", verdana, helvetica, sans-serif;
    font-weight: normal;
    font-size: 18pt;
    text-align: center;
}

.bim-page-mini-title {
    font-size:14pt;
    font-weight: bold;
}

.bim-page-img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.project-image-box {
    position: absolute;
    top: 100px;
    right: 10px;
}

.project-table-back-img {
    position: absolute;
    top: 100px;
    right: 10px;
    background-image: url('/static/img/clock.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

.mobile-version {
    display: none;
}

.navbar{
    margin-bottom : 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    #main {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .bim-title {
        display: none;
    }

    .mobile-version {
        display: block;
    }
}

.form-group .label-red {
    color: darkred;
}

.form-group .label-blue {
    color: darkblue;
}

.form-group .label-green {
    color: darkgreen;
}