p {
    font-family: Calibri;
    font-size: 13.5pt;
    line-height: 1.37;
    text-align: justify;
}

li {
    font-family: Calibri;
    font-size: 13.5pt;
    line-height: 1.37;
    text-align: justify;
}

.bim-title-box {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.bim-title {
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255,255,255,0.3);
    color: gray();
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    text-shadow: 1px 1px 5px #000;
}

.bim-page-title {
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-left-width: thick;
    border-bottom-width: thick;
    border-right-width: thick;
    border-top-width: thin;
    font-size: 22pt;
    text-align: center;
}