{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">{{ super() }}
{% endblock %}

{% block title %}
Manage Projects
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Projects</h1>
            <div class="list-group">
                {% for project in projects %}
                    {% if project['id']==project_id %}
                        <a href="{{ url_for('accept', project_id=project['id']) }}" class="list-group-item active">{{project['title']}}</a>
                    {% else %}
                        <a href="{{ url_for('accept', project_id=project['id']) }}" class="list-group-item">{{project['title']}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if files is not none %}
                <h3>Data and/or Images</h3>
                <div class="list-group">
                    {% for file in files %}
                        <a class="btn btn-info" href="{{ url_for('static', filename='upload/file/%s'%file) }}" class="list-group-item">{{file}}</a>
                    {% else %}
			<p>No files found.</p>
		    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
        <h1 style = "color : white">style</h1>
        {% if project_id is none %}
            <div class="alert alert-warning" style="margin-top: 67px;" role="alert">Please select project to see details.</div>
        {% else %}
            {% if info is not none %}
                <div class="alert alert-success" style="margin-top: 67px;" role="alert">{{ info }}</div>
            {% endif %}
            <form method="POST" action="" autocomplete="off"  enctype="multipart/form-data">
                <dl>
                    {{ wtf.quick_form(form) }}
                    <input class="btn btn-primary" type="submit" value="Update">
                    {% if not accepted %}
                    <a class="btn" href="{{ url_for('accept_project', project_id=project_id) }}">Accept</a>
                    {% else %}
                        {% if not history %}
                        <a class="btn" href="{{ url_for('add_history_project', project_id=project_id) }}">Move To History</a>
                        {% else %}
                        <a class="btn" href="{{ url_for('remove_history_project', project_id=project_id) }}">Remove From History</a>
                        {% endif %}
                    {% endif %}
                    {% if not history %}
                        <a class="btn" href="{{ url_for('delete_project', project_id=project_id) }}">Delete</a>
                    {% endif %}
                </dl>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
