{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<meta charset="UTF-8" />
<meta
  content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements."
  name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">{{ super() }}

{% endblock %}

{% block title %}
Manage Projects
{% endblock %}

{%  block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='vendor/lightbox/css/lightbox.min.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
{{super()}}


<style media="screen">
  .mb--20 {
    margin-bottom: 20px;
  }

  .mt--10{
    margin-top:10px;
  }

  .image-link-zoom{
    position:relative;
  }

  .image-link-zoom i{
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 18px;
    color: white;
    background-color: #0000006e;
    border-radius: 50%;
    padding: 7px;
  }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='vendor/lightbox/js/lightbox.min.js')}}"></script>
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?r=1">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h1 class="bim_title">Accepted 4D BIM Projects</h1>

      {% if info is not none %}
      <div class="alert alert-success"  role="alert">{{ info }}</div>
      {% endif %}
      {% if project_id is none %}
      <div class="alert alert-warning"  role="alert">Please select project to see details.</div>
      {% endif %}

      <div class="list-group">
        {% for project in projects %}
        {% if project['id']==project_id %}
        <a href="{{ url_for('accept', project_id=project['id']) }}" class="list-group-item active">{{project['title']}}</a>
        {% else %}
        <a href="{{ url_for('accept', project_id=project['id']) }}" class="list-group-item">{{project['title']}}</a>
        {% endif %}
        {% endfor %}
      </div>
      {% if files is not none %}
        <h3 class="bim_subtitle">Project Details Data and/or Images</h3>
        <div class="list-group">
          {% for file in files %}
            {% if file.endswith('.png') or  file.endswith('.jpeg') or  file.endswith('.jpg') or  file.endswith('.gif')  %}
                <a class="image-link-zoom" href="{{ url_for('static', filename='upload/file/%s'%file) }}" data-lightbox="Project Image" data-title="Project Image">
                  <img height=100 width=100 src="{{ url_for('static', filename='upload/file/%s'%file) }}" alt="Project Image">
                    <i class="fa   fa-search"></i>
                </a>
            {% else %}
              <div class="">
                <a download class="btn btn-info mt--10" href="{{ url_for('static', filename='upload/file/%s'%file) }}" class="list-group-item">{{file}} <i class="fas fa-download"></i></a>
              </div>
            {% endif %}
          {% else %}
          {% endfor %}
        </div>
      {% endif %}

      {% if files_constraints is not none %}
        <h3 class="bim_subtitle">Project Constraints Data and/or Images</h3>
        <div class="list-group">
          {% for file in files_constraints %}
            {% if file.endswith('.png') or  file.endswith('.jpeg') or  file.endswith('.jpg') or  file.endswith('.gif')  %}
                <a class="image-link-zoom" href="{{ url_for('static', filename='upload/file/%s'%file) }}" data-lightbox="Project Image" data-title="">
                  <img height=100 width=100 src="{{ url_for('static', filename='upload/file/%s'%file) }}" alt="Project Image">
                    <i class="fa   fa-search"></i>
                </a>
            {% else %}
              <div class="">
                <a download class="btn btn-info mt--10" href="{{ url_for('static', filename='upload/file/%s'%file) }}" class="list-group-item">{{file}} <i class="fas fa-download"></i></a>
              </div>
            {% endif %}
          {% else %}
          {% endfor %}
        </div>
      {% endif %}

      {% if files_attributes_time is not none %}
        <h3 class="bim_subtitle">Project Based 4D BIM Attributes Data and/or Images</h3>
        <div class="list-group">
          {% for file in files_attributes_time %}
            {% if file.endswith('.png') or  file.endswith('.jpeg') or  file.endswith('.jpg') or  file.endswith('.gif')  %}
                <a class="image-link-zoom" href="{{ url_for('static', filename='upload/file/%s'%file) }}" data-lightbox="Project Image" data-title="">
                  <img height=100 width=100 src="{{ url_for('static', filename='upload/file/%s'%file) }}" alt="Project Image">
                    <i class="fa   fa-search"></i>
                </a>
            {% else %}
              <div class="">
                <a download class="btn btn-info mt--10" href="{{ url_for('static', filename='upload/file/%s'%file) }}" class="list-group-item">{{file}} <i class="fas fa-download"></i></a>
              </div>
            {% endif %}
          {% else %}
          {% endfor %}
        </div>
      {% endif %}

      {% if files_attributes_cost is not none %}
        <div class="list-group">
          {% for file in files_attributes_cost %}
            {% if file.endswith('.png') or  file.endswith('.jpeg') or  file.endswith('.jpg') or  file.endswith('.gif')  %}
                <a class="image-link-zoom" href="{{ url_for('static', filename='upload/file/%s'%file) }}" data-lightbox="Project Image" data-title="">
                  <img height=100 width=100 src="{{ url_for('static', filename='upload/file/%s'%file) }}" alt="Project PB4D COST Image">
                    <i class="fa   fa-search"></i>
                </a>
            {% else %}
              <div class="">
                <a download class="btn btn-info mt--10" href="{{ url_for('static', filename='upload/file/%s'%file) }}" class="list-group-item">{{file}} <i class="fas fa-download"></i></a>
              </div>
            {% endif %}
          {% else %}
          {% endfor %}
        </div>
      {% endif %}

      {% if files_attributes_quality is not none %}
        <div class="list-group">
          {% for file in files_attributes_quality %}
            {% if file.endswith('.png') or  file.endswith('.jpeg') or  file.endswith('.jpg') or  file.endswith('.gif')  %}
                <a class="image-link-zoom" href="{{ url_for('static', filename='upload/file/%s'%file) }}" data-lightbox="Project Image" data-title="">
                  <img height=100 width=100 src="{{ url_for('static', filename='upload/file/%s'%file) }}" alt="Project PB4D QUALITY Image">
                    <i class="fa   fa-search"></i>
                </a>
            {% else %}
              <div class="">
                <a download class="btn btn-info mt--10" href="{{ url_for('static', filename='upload/file/%s'%file) }}" class="list-group-item">{{file}} <i class="fas fa-download"></i></a>
              </div>
            {% endif %}
          {% else %}

          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-sm-9">
      {% if project_id is none %}
      {% else %}

      <form method="POST" action="" autocomplete="off" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
          <div class="col-sm-4">

            {% for field in form %}
            {% if field.name == 'title' %}
                <h2 class="bim_title">Project Details</h2>
            {% endif %}

              {% if field.name in 'title,organisation_url,country,city,local_authority,involvement,date_of_project,application,version,email,award,project_before_files,project_files' %}
                {{ field.label(class='control-label ') }}
                {{ field(class='form-control mb--20') }}
              {% endif %}
            {% endfor %}

          </div>
          <div class="col-sm-4">
            {% for field in form %}
              {% if field.name == 'cm_restriction1' %}
                  <h2 class="bim_title">Project Constraints</h2>
                  <h3 class="bim_subtitle">TIME</h3>
              {% elif field.name == 'cm_restriction4' %}
                  <h3  class="bim_subtitle" >COST</h3>
              {% elif field.name == 'cm_restriction7' %}
                  <h3  class="bim_subtitle">QUALITY</h3>
            {% endif %}

              {% if 'cm_restriction' in field.name %}
                {{ field.label(class='control-label ') }}
                {{ field(class='form-control mb--20') }}
                {#{{ wtf.form_field(field, class='form-control label-blue') }}#}
              {% endif %}

            {% endfor %}

          </div>

          <div class="col-sm-4">
            {% for field in form %}
                {% if field.name == 'attribute1' %}
                    <h2 class="bim_title">Project Based 4D BIM Attributes</h2>
                    <h3  class="bim_subtitle" >TIME</h3>
                {% elif field.name == 'attribute4' %}
                    <h3 class="bim_subtitle">COST</h3>
                {% elif field.name == 'attribute7' %}
                    <h3 class="bim_subtitle" >QUALITY</h3>
              {% endif %}

              {% if 'attribute' in field.name %}
                {{ field.label(class='control-label ') }}
                {{ field(class='form-control mb--20') }}
              {% endif %}

            {% endfor %}


          </div>

          <div class="col-sm-12 mb--20" style="text-align:center;">
            <input class="btn btn-primary" type="submit" value="Update">
            {% if not accepted %}
            <a class="btn" href="{{ url_for('accept_project', project_id=project_id) }}">Accept</a>
            {% else %}
            {% if not history %}
            <a class="btn" href="{{ url_for('add_history_project', project_id=project_id) }}">Move To History</a>
            {% else %}
            <a class="btn" href="{{ url_for('remove_history_project', project_id=project_id) }}">Remove From History</a>
            {% endif %}
            {% endif %}
            {% if not history %}
            <a class="btn" href="{{ url_for('delete_project', project_id=project_id) }}">Delete</a>
            {% endif %}
          </div>
        </div>




      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
