{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
4D BIM Attributes
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <br>
    <p style = "font-family : 'Bradley Hand ITC'; font-size : 44pt; text-align : center;">4DBIM ATTRIBUTES</p>

    <div class = "container" style = "width : 80%">
        <img src="{{ url_for('static', filename='img/attribute.jpg') }}">
    </div>
    
    <br>
    <p style = "font-family : 'Bradley Hand ITC'; font-size : 32pt; text-align : center;">Time</p>
    <p>Score rating offered for the relevant 4D BIM software application and the associated attribute’s ability to produce and present, dynamic development of workflows:</p>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Schedule vs actual (WIP)</p>
    <ul>
        <li>dynamic visualization to show delays and LAG time</li>
        <li>graphical representation</li>
        <li>methods available to verify and validate</li>
        <li>measured productivity, sequential operation analysis, schedule lag and lead time prediction</li>
        <li>comparison of actual and expected status of work-in-progress, providing a means to identify deviations in construction</li>
        <li>construction operation logic and investigation methods to optimize resource allocation between tasks</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Discreet event simulation</p>
    <ul>
        <li>site utilization planning</li>
        <li>dynamic safety analysis of time dependent structure’s</li>
        <li>simulation framework to simulate dynamic changes of workflow interdependence between time, space and resources</li>
        <li>task-based simulation scheduling</li>
        <li>conflicting status of workspace, to show time-space trade-off according to the schedule lead and lag times</li>
        <li>routes for emergency services</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Schedule creation/manipulation</p>
    <ul>
        <li>schedule + resource manipulation</li>
        <li>information for the process simulation model</li>
        <li>schedule optimization</li>
        <li>manage multiple sub-contractor schedules</li>
    </ul>
    <br>
    <br>

    <p style = "font-family : 'Bradley Hand ITC'; font-size : 32pt; text-align : center;">Cost</p>
    <p>Score rating offered for the relevant 4D BIM software application and the associated attribute’s ability to produce and present, a reliable data display in relation to project dynamic cost estimates:</p>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Risk assessment</p>
    <ul>
        <li>investment analysis</li>
        <li>material resource management</li>
        <li>integrated financial analysis in real-time to facilitate continuous development of a financial strategy</li>
        <li>cognitive resource management</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Data Analysis</p>
    <ul>
        <li>reliable quantity extraction</li>
        <li>development of operation and maintenance (0&M) strategy for the built asset</li>
        <li>development of a facility management (FM) strategy for the built asset</li>
        <li>data reliability</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Construction Supply Chain Management (CSCM)</p>
    <ul>
        <li>lean construction methods</li>
        <li>resource mapping</li>
        <li>lean project management system (LPMS)</li>
        <li>cognitive construction alternatives</li>
        <li>workflow integration</li>
    </ul>
    <br>
    <br>

    <p style = "font-family : 'Bradley Hand ITC'; font-size : 32pt; text-align : center;">Quality</p>
    <p>Score rating offered for the relevant 4D BIM software application and the associated attribute’s ability to produce and present, Coordinate Virtual Design and Construction (VDC):</p>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Simulation</p>
    <ul>
        <li>project feasibility variants</li>
        <li>improved schedule reliability</li>
        <li>stage planning</li>
        <li>enhanced interrogation of construction sequences</li>
        <li>predict potential clash detection of material resources</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Clash detection</p>
    <ul>
        <li>dynamic collision detection of material resources</li>
        <li>design alternatives</li>
        <li>switchback to authoring software</li>
        <li>accuracy and efficiency of clash detection</li>
        <li>ability to define clashes </li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Collaboration</p>
    <ul>
        <li>collaboration across AEC sectors to integrate financial data</li>
        <li>joint delivery of cross domain tasks</li>
        <li>coordination of multiple schedules</li>
        <li>safe working environment</li>
    </ul>
    <br>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}