{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Project Constraints
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <br>
    <p style = "font-family : 'Century Gothic'; font-size : 44pt; text-align : center;">PROJECT CONSTRAINTS</p>
    <div class = "container thumbnail" style = "width : 100%">
        <img src="{{ url_for('static', filename='img/constraints.png') }}" class = "bim-page-img">
    </div>
    <p>Due consideration to be given to all external stakeholders and the influences associated to the construction processes and technical systems, which may define the requirements of a 4D BIM software application. Each associated element within a project specific set of constraints are derived from a list of three elements: time, cost and quality. To reinforce the DSS process, these three elements are further defined by creating three sub-sets each of, which offer the ability to establish the specific project requirement definitions.</p>
    <br>
    <br>

    <p style = "font-family : 'Century Gothic'; font-size : 32pt; text-align : center;">Time</p>
    <p style="font-size: 14pt; font-weight: bold;">Sector Type: </p>
    <p>The Sector controlling the 4D BIM construction project and the contributing factors that may be associated to the success of the construction management project.</p>
    <p style="font-size: 14pt; font-weight: bold;">Site logistics: </p>
    <p>Project landscape and the associated constraints of the workspace. This is determined by considering the ability to utilize the characteristics of the workspace to optimize efficiency and ensure against confined space conflict, which may include resource control. The ability to reveal the visual construction process and determine the inter-dependencies of time, space and resources within the site environment. Which can lead to better decision-making for design development, schedule estimation and construction tasks including; resource allocation and site safety.</p>
    <p style="font-size: 14pt; font-weight: bold;">Project Duration: </p>
    <p>Project schedule, from the design phase to the hand-over phase of the asset.</p>
    <br><br>

    <p style = "font-family : 'Century Gothic'; font-size : 32pt; text-align : center;">Cost</p>
    <p style="font-size: 14pt; font-weight: bold;">Development Use : </p>
    <p>The purpose for which, an asset is produced may define the level of constraint for which, said constraint is seen as a restriction. The development use of the asset may define the type and level of data needed and at what stage of the development the data is needed for milestone feasibility studies or the asset management, also who has access to that data.</p>
    <p style="font-size: 14pt; font-weight: bold;">Financial cost of project:</p>
    <p>The cost of the 4D BIM project from design phase to hand-over phase.</p>
    <p style="font-size: 14pt; font-weight: bold;">Resource Restrictions:</p>
    <p>The access, availability and allocation of resources associated with the project’s financial investment plan and associated resource control may define the quality requirement of 4D simulations and predict resource overlaps within the project schedule and the formulated approach used for construction activities and the allocation of the resources among activities.</p>
    <br><br>

    <p style = "font-family : 'Century Gothic'; font-size : 32pt; text-align : center;">Quality</p>
    <p style="font-size: 14pt; font-weight: bold;">Procurement Method:</p>
    <p>Several constraints including the locality, financial and/or resource availability etc. are used to access, which contractual method is best suited for the project.</p>
    <p style="font-size: 14pt; font-weight: bold;">Technical Complexity:</p>
    <p>This may have a bearing on the level of collaboration needed amongst the design and construction teams, with subsequent data validation throughout the design phase according to the projects Employers Information Requirements (EIR). </p>
    <p style="font-size: 14pt; font-weight: bold;">Carbon Footprint:</p>
    <p>The environmental planning required, which has a direct impact on the waste management procedures incorporated in the project.</p>
    <br>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}