{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Explained
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <p class="bim_title text-center "  >Decision Support System to facilitate choice of 4D BIM software application</p>
    <h2 class="bim_title text-center" style="font-style:initial;font-size:16pt;font-style:initial;" >Define project constraint type</h2>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/explained/1.png') }}">
    </div>

    <h2 class="bim_title text-center" style="font-style:initial;font-size:16pt;font-style:initial;" >Project specific set of constraints</h2>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/explained/2.png') }}">
    </div>


    <h2 class="bim_title text-center" style="font-style:initial;font-size:16pt;font-style:initial;" >Attibutes based on project requirements</h2>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/explained/3.png') }}">
    </div>

    <h2 class="bim_title text-center" style="font-style:initial;font-size:16pt;font-style:initial;" >Attributes based on requirement</h2>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/explained/4.png') }}">
    </div>


    <br>
    <div align="middle">
        <a class="btn btn-info" href="{{ url_for('static', filename='resource/Further Explanation of Decision Support System.xlsx') }}?r=1">Download <b style = "text-transform: lowercase;">XLS.</b></a>
        <a class="btn btn-info" href="{{ url_for('static', filename='resource/Project Specific Set of Restrictions.docx') }}?r=2">Download doc.</a>
    </div>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
