{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Explained
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <p style = "font-family : 'Century Gothic'; font-size : 20pt; text-align : center;">Decision Support System to facilitate choice of 4D BIM software application</p>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/1.png') }}">
    </div>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/2.png') }}">
    </div>
    <br>
    <br>
    <p style = "font-family : 'Century Gothic'; font-size : 20pt; text-align : center;">Attributes based on project requirement</p>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/3.png') }}">
    </div>
    <br>
    <br>
    <p style = "font-family : 'Century Gothic'; font-size : 20pt; text-align : center;">Find aggregate score when using Decision Support System</p>
    <div class = "container thumbnail" style = "max-width : 100%">
        <img src="{{ url_for('static', filename='img/4.png') }}">
    </div>
    <br>
    <div align="middle">
        <a class="btn btn-info" href="{{ url_for('static', filename='resource/Further Explanation of Decision Support System.xlsx') }}">Download <b style = "text-transform: lowercase;">XLS.</b></a>
        <a class="btn btn-info" href="{{ url_for('static', filename='resource/Project Specific Set of Restrictions.docx') }}">Download doc.</a>
    </div>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}