{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
4D BIM
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    <header id="header">
        {{ nav.mynavbar.render(renderer='inverted') }}
    </header>
{% endblock %}

{% block content %}
<body>
    <div id="main">
        <!-- stuff -->
        <!-- stuff -->
        <p class="bim-title mobile-version">4D BIM Decision Support System</p>
        <p class="bim-title" style="margin-left: 250px;margin-bottom: 250px;">4D BIM Decision Support System</p>
    </div>

</body>
    <style>
    html, body {
        height: 100%;
        background: url('/static/img/bg.JPG') no-repeat center center fixed;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    header .navbar {
        margin-bottom: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    </style>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script type="text/javascript">
        $(function () {
            $('#main').height($(window).height() - $('#header').height());
        });
    </script>
{% endblock %}