{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block title %}
Planned Outputs
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <div align="middle">
        <img src="{{ url_for('static', filename='img/planned1.jpg') }}" class="bim-page-img" style="max-width: 90%;">
    </div>
    <br>
    <div align="middle">
        <span class="bim-page-title" style="font-size: 16pt;">
            Planned Outputs
        </span>
    </div>
    <br>
    <p style="font-style: italic; text-align: center;">Planned outputs from the use of the 4D BIM software application:</p>
    <p align="middle" class="bim-page-sub-title" style="font-style: italic">Management</p>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Data Management</p>
    <ul>
        <li>collaborative production of an organisations archive to enable a method of continuous improvement</li>
        <li>integrated project delivery methodology</li>
        <li>integrated process of data collection for facility management (FM) purposes</li>
        <li>systematic project delivery methods</li>
        <li>project change management strategies</li>
        <li>information consistency</li>
        <li>key performance indicators (KPI)s</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Resource Management</p>
    <ul>
        <li>integrated 4D BIM process simulation model (used to address resource-constrained scheduling problems)</li>
        <li>production of strategic alternatives</li>
        <li>optimised resource allocation</li>
        <li>energy efficiency</li>
        <li>lean production</li>
        <li>reliable prediction of productivity dynamics</li>
        <li>tracking resources in computer vision (referring to locating moving objects in 2D or 3D across time)</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Risk Management</p>
    <ul>
        <li>collaborative environment</li>
        <li>construction alternatives</li>
        <li>identify, analyse, evaluate and respond in real-time</li>
        <li>cognitive assessment of the potential impact of risks</li>
        <li>in-depth evaluation of risks with high probability </li>
        <li>training site workers to identify on- site safety risks</li>
        <li>simulating on-site potential hazards</li>
    </ul>
    <br>
    <br>
    <p align="middle" class="bim-page-sub-title" style="font-style: italic">Technical</p>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Collaboration</p>
    <ul>
        <li>multi-discipline collaboration network</li>
        <li>early identification of potential cause for mitigation </li>
        <li>visualised construction plans and processes</li>
        <li>progress monitoring, quality control, operation analysis</li>
        <li>just in time and lean principles</li>
        <li>multi- discipline alignment of work tasks</li>
        <li>real-time warning of construction site safety issues</li>
        <li>synchronised coordination of sub-contractors</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Quality assurance</p>
    <ul>
        <li>identify potential quality risks</li>
        <li>identify potential disputes</li>
        <li>tracking and managing tasks</li>
        <li>reduced material waste</li>
        <li>greater design flexibility</li>
        <li>identify quality deviations</li>
        <li>development of containment strategies</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Visualisation</p>
    <ul>
        <li>competitive tendering capabilities</li>
        <li>data rich views</li>
        <li>dynamic visualisation</li>
        <li>predict potential safety hazards</li>
        <li>reduced waste</li>
        <li>secure investment</li>
        <li>lean construction management</li>
    </ul>
    <br>
    <br>
    <p align="middle" class="bim-page-sub-title" style="font-style: italic">Value</p>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Asset Management</p>
    <ul>
        <li>development of asset information model (AIM)</li>
        <li>intuitive life cycle management strategy</li>
        <li>production of multiple operation & maintenance (O & M) plans to offset potential environmental and cultural restrictions</li>
        <li>proactive planning approach based on potential changes to the surrounding landscape</li>
        <li>reduced operating costs and efficient use of the asset</li>
        <li>safety management e.g. emergency services access</li>
        <li>intuitive cognitive data updates</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Cost control</p>
    <ul>
        <li>cognitive design validation</li>
        <li>consistent and accurate data collection</li>
        <li>dynamic development of risk assessment</li>
        <li>tracking and managing changes</li>
        <li>dynamic production of quantity data</li>
        <li>production of alternative construction designs in real-time</li>
        <li>dynamic up-dates of planned vs actual construction progress</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Earned value</p>
    <ul>
        <li>end user satisfaction</li>
        <li>O & M control in real-time</li>
        <li>assessment of actual vs planned WIP reports to produce KPIs</li>
        <li>continuous cognitive development of productivity requirements</li>
        <li>evaluation methods to assess 4D BIM performance i.e. organisation and management, data collection and analysis</li>
        <li>production of technical strategies to facilitate efficient and productive use of resources</li>
        <li>continuity of information flow</li>
    </ul>
    <br>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}