{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block title %}
Planned Outputs
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <br>
    <p style = "font-family : 'Verdana'; font-size : 44pt; text-align : center; font-style : italic;">Planned Outputs</p>

    <div class = "container thumbnail" style = "max-width : 90%;">
        <img src="{{ url_for('static', filename='img/planned1.jpg') }}" class="bim-page-img">
    </div>
    <br>
    <br>
    <p style = "font-family : 'Verdana'; font-size : 32pt; text-align : center; font-style : italic;">Management</p>
    <p>Planned outputs for the relevant 4D BIM software application and the associated attribute’s ability to enable project management through intuitive response:</p>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Production management</p>
    <ul>
        <li>identify potential quality risks</li>
        <li>identify potential disputes</li>
        <li>reduced material waste</li>
        <li>greater design flexibility</li>
        <li>identify quality deviations</li>
        <li>dynamic up-dates of planned vs actual construction progress</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Safety management</p>
    <ul>
        <li>intuitive safety management strategy</li>
        <li>proactive planning approach based on potential changes to the surrounding landscape</li>
        <li>cognitive design validation</li>
        <li>production of alternative construction designs in real-time</li>
        <li>training site workers to identify on- site safety risks</li>
        <li>simulating on-site potential hazards</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Schedule management</p>
    <ul>
        <li>tracking and managing tasks</li>
        <li>assessment of actual vs planned WIP reports to produce KPIs</li>
        <li>continuous cognitive development of productivity requirements</li>
        <li>key performance indicators (KPI)s</li>
        <li>tracking and managing changes</li>
    </ul>
    <br>
    <br>
    <p style = "font-family : 'Verdana'; font-size : 32pt; text-align : center; font-style : italic;">Value</p>
    <p>Planned outputs for the relevant 4D BIM software application and the associated attribute’s ability to present the added value when developing alternate decisions:</p>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Risk control</p>
    <ul>
        <li>construction alternatives</li>
        <li>identify, analyze, evaluate and respond in real-time</li>
        <li>cognitive assessment of the potential impact of risks</li>
        <li>in-depth evaluation of risks with high probability</li>
        <li>dynamic development of risk assessment</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Data control</p>
    <ul>
        <li>integrated project delivery methodology</li>
        <li>integrated process of data collection for facility management (FM) purposes</li>
        <li>systematic project delivery methods</li>
        <li>project change management strategies</li>
        <li>information consistency</li>
        <li>intuitive cognitive data updates</li>
        <li>consistent and accurate data collection</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Resource control</p>
    <ul>
        <li>integrated 4D BIM process simulation model (used to address resource-constrained scheduling problems)</li>
        <li>production of strategic alternatives</li>
        <li>optimized resource allocation</li>
        <li>energy efficiency</li>
        <li>lean production</li>
        <li>reliable prediction of productivity dynamics</li>
        <li>collaborative production of an organizations archives to enable a method of continuous improvement</li>
    </ul>
    <br>
    <br>
    <p style = "font-family : 'Verdana'; font-size : 32pt; text-align : center; font-style : italic;">Technical</p>
    <p>Planned outputs for the relevant 4D BIM software application and the associated attribute’s ability to coordinate multiple responses, to the technical aspects of project management:</p>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Visualize construction digitally</p>
    <ul>
        <li>tendering capabilities</li>
        <li>rich views</li>
        <li>visualization</li>
        <li>potential safety hazards</li>
        <li>waste</li>
        <li>investment</li>
        <li>construction management</li>
        <li>resources in computer vision (referring to locating moving objects in 2D or 3D across time)</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Reduce re-works</p>
    <ul>
        <li>continuity of information flow</li>
        <li>production of technical strategies to facilitate efficient and productive use of resources</li>
        <li>early identification of potential cause for mitigation</li>
        <li>just in time and lean principles</li>
        <li>visualized construction plans and processes</li>
    </ul>
    <br>
    <p style="font-size: 14pt; font-weight: bold;">Project transparency</p>
    <ul>
        <li>multi-discipline collaboration network</li>
        <li>progress monitoring, quality control, operation analysis</li>
        <li>multi- discipline alignment of work tasks</li>
        <li>real-time warning of construction site safety issues</li>
        <li>synchronized coordination of sub-contractors</li>
        <li>collaborative environment</li>
    </ul>
    <br>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}