{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Professional Offering a 4D BIM Recommendation
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container" style="position: relative;">
    <div class="project-image-box" align="right">
        <!-- stuff -->
        <img src="{{ url_for('static', filename='img/clock.jpg') }}" width="50%"/>
    </div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" ><span class="bim-page-sub-title" style="font-size: 18px;">PROJECT TITLE & ORGANISATION</span></th>
        <th scope="col"><span class="bim-page-sub-title" style="font-size: 18px;">DATE OF PROJECT COMPLETION</span></th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
    <tr>
        <td><a href="{{ project['organisation_url'] }}" target="_blank">{{ project['title'] }}</a></td>
        <td><a href="{{ project['organisation_url'] }}" target="_blank">{{ project['date_of_project'] }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
