{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<meta charset="UTF-8" />
<meta content="An analytical process has been developed, which incorporates a decision support system (DSS). Used to aid in the decision making process to decide, which 4D BIM software application (synchro, navisworks asta or powerproject) is best suited to a construction project, established from a project specific set of requirements." name="description">
<meta content="4D BIM, synchro, asta power project & navisworks" name="keywords">
{{ super() }}
{% endblock %}

{% block title %}
Manage Users
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Users</h1>
            <div class="list-group">
                {% for user in users %}
                    {% if user.id==user_id %}
                        <a href="{{ url_for('useradmin', user_id=user['id']) }}" class="list-group-item active">{{user['email']}}</a>
                    {% else %}
                        <a href="{{ url_for('useradmin', user_id=user['id']) }}" class="list-group-item">{{user['email']}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
        <h1 style = "color : white">style</h1>
        {% if user_id is none %}
            <div class="alert alert-warning" role="alert">Please select user to modify profile</div>
        {% else %}
            {% if info is not none %}
                <div class="alert alert-success" role="alert">{{ info }}</div>
            {% endif %}
            <form method="POST" action="" autocomplete="off">
                <dl>
                    {{ wtf.quick_form(form) }}
                    <input class="btn btn-primary" type="submit" name="submit_update_user" value="Update">
                    <input class="btn btn-primary" type="submit" name="submit_update_user" value="Update and send email">
                    <input class="btn" type="submit" formaction="{{ url_for('add_user') }}" value="Add User"/>
                    {% if user_id is not none and current_user.id != user_id %}
                        <a class="btn" href="{{ url_for('delete_user', user_id=user_id) }}">Delete User</a>
                    {% endif %}
                </dl>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
